{% block monthForm %}
    <h2>{{ titleForm }}</h2>
    {{ form_start(monthForm) }}
        {{ form_row(monthForm.date) }}
        {% if monthForm.budgets.vars.choices is not empty %}
            {{ form_label(monthForm.budgets) }}
            <div class="month-form-row__input-budgets">
                {% for choice in monthForm.budgets %}
                    <div class="budget-choice">
                        {{ form_widget(choice) }}
                        {{ form_label(choice) }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {{ form_end(monthForm) }}

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        toggleBudgetChoice()
      })

      function toggleBudgetChoice () {
        let monthBudgetsChoices = document.querySelectorAll('.month-form-row__input-budgets .budget-choice');
        if (!monthBudgetsChoices) {
          return;
        }
        monthBudgetsChoices.forEach(function (choice) {
          let label = choice.querySelector('label')
          let checkbox = choice.querySelector('input')
          label.addEventListener('click', function () {
            let isCurrentlyChecked = !checkbox.checked

            if (isCurrentlyChecked) {
              label.classList.add('budget-choice__label--checked')
              label.classList.remove('budget-choice__label--unchecked')
            } else {
              label.classList.add('budget-choice__label--unchecked')
              label.classList.remove('budget-choice__label--checked')
            }
          })
        })
      }
    </script>
{% endblock monthForm %}
