<div class="month-view">
    <div class="month-view__header">
        <h2>🗓️ List of months</h2>
        <div class="button-action-container">
            <a href="{{ path('months_amounts_refresh_action') }}" class="button-action button-action-refresh">Refresh amounts</a>
            <a href="{{ path('creation_form_page') }}#month-form" class="button-action button-action-add">Add new month</a>
        </div>
    </div>
    <table class="month-table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Year</th>
                <th>Total budgets amounts</th>
                <th>Total amount earned</th>
                <th>Total amount spent</th>
                <th>Balance</th>
                <th class="month-table-actions">Actions</th>
            </tr>
        </thead>
        {{ dump(sumBudgetsAmountsByMonths) }}
        <tbody>
        {% if months|length > 0 %}
            {% for month in months %}
                <tr>
                    <td>{{ month.date|date('F') }}</td>
                    <td>{{ month.date|date('Y') }}</td>
                    <td>{{ (sumBudgetsAmountsByMonths[month.date|date('F Y')] | sum) ~ '€' }}</td>
                    <td>{{ (month.totalAmountEarned ?? 0) ~ '€' }}</td>
                    <td>{{ (month.totalAmountSpent ?? 0) ~ '€' }}</td>
                    <td>{{ (month.balance ?? 0) ~ '€' }}</td>
                    <td class="month-table-actions">
                        <a class="month-table-actions__link month-table-actions__link-edit" href="{{ path('month_edit_action', {'id': month.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="month-table-actions__link month-table-actions__link-delete" href="{{ path('month_delete_action', {'id': month.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">{{ 'You havent set the months you will be tracking yet - Add new month first' }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
</div>
