{% block transactionFilterForm %}
    {{ form_start(transactionFilterForm) }}
    {{ form_row(transactionFilterForm.date) }}
    {{ form_row(transactionFilterForm.month) }}
    {{ form_row(transactionFilterForm.name) }}
    {{ form_row(transactionFilterForm.amount) }}
    {{ form_row(transactionFilterForm.type) }}
    {{ form_row(transactionFilterForm.budgetCategory) }}
    {% if transactionFilterForm.limit is defined %}
        {{ form_row(transactionFilterForm.limit) }}
    {% endif %}
    <div class="container-action-filter">
        {{ form_widget(transactionFilterForm.save) }}
        <a href="{{ urlResetFilter }}" type="submit" class="button-action button-action-filter button-action-filter-reset js-button-action-reset">Reset</a>
    </div>
    {{ form_end(transactionFilterForm) }}

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        toggleFilterForm();
        toggleTransactionForm();
      });

      function toggleTransactionForm()
      {
        let btnShowForm = document.querySelector('.button-action-add-transaction');
        let transactionFormContainer = document.querySelector('.transaction-form-container');
        toggleContainerFromButtonAction(btnShowForm, transactionFormContainer, 'transaction-form');
      }

      function toggleFilterForm() {
          let btnShowFilter = document.querySelector('.button-action-filter');
          let filtersContainer = document.querySelector('.filters-container');
          toggleContainerFromButtonAction(btnShowFilter, filtersContainer, 'filters');
      }

      function toggleContainerFromButtonAction(btnShowFilter, filtersContainer, classname) {
        if (!btnShowFilter) {
            return;
        }
        btnShowFilter.addEventListener('click', function() {
            filtersContainer.classList.toggle(classname + '-container--hidden');
            filtersContainer.classList.toggle(classname + '-container--active');
        });
      }
    </script>
{% endblock transactionFilterForm %}
