{% block transactionFilterForm %}
    {{ form_start(transactionFilterForm) }}
    {{ form_row(transactionFilterForm.date) }}
    {{ form_row(transactionFilterForm.month) }}
    {{ form_row(transactionFilterForm.name) }}
    {{ form_row(transactionFilterForm.amount) }}
    {{ form_row(transactionFilterForm.type) }}
    {{ form_row(transactionFilterForm.budgetCategory) }}
    {% if transactionFilterForm.limit is defined %}
        {{ form_row(transactionFilterForm.limit) }}
    {% endif %}
    <div class="container-action-filter">
        {{ form_widget(transactionFilterForm.save) }}
        <a href="{{ urlResetFilter }}" type="submit" class="button-action button-action-filter button-action-filter-reset js-button-action-reset">Reset</a>
    </div>
    {{ form_end(transactionFilterForm) }}

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        prepareToggleForm();
      });

      function prepareToggleForm() {
        const formsData = [
          ['button-action-add-transaction', 'transaction-form-container', 'transaction-form'],
          ['button-action-filter', 'filters-container', 'filters']
        ];
        formsData.forEach(form => {
          toggleContainerFromButtonAction(
            document.querySelector('.' + form[0]),
            document.querySelector('.' + form[1]),
            form[2],
            formsData
          );
        });
      }

      function toggleContainerFromButtonAction(btnShowForm, formContainer, classname, formsData) {
        if (!btnShowForm) {
            return;
        }
        btnShowForm.addEventListener('click', function() {
            formsData.forEach(form => {
                if (!btnShowForm.classList.contains(form[0])) {
                const otherFormContainer = document.querySelector('.' + form[1]);
                otherFormContainer.classList.add(form[2] + '-container--hidden');
                otherFormContainer.classList.remove(form[2] + '-container--active');
                }
            });
          formContainer.classList.toggle(classname + '-container--hidden');
          formContainer.classList.toggle(classname + '-container--active');
        });
      }
    </script>
{% endblock transactionFilterForm %}
