<div class="transaction-view__header">
        {% if totalCountTransactions is defined %}
            <h2>{{ transactionTableTitle }} <span class="count-transactions">({{ totalCountTransactions }})</span></h2>
        {% else %}
            <h2>{{ transactionTableTitle }}</h2>
        {% endif %}
        <div class="button-action-container">
            <button class="button-action button-action-filter">Filter</button>
            {% if seeMoreButtonActive is same as true %}
                <a href="{{ path('more_transactions_page') }}" class="button-action button-action-see-more">See more</a>
            {% endif %}
{#            <a href="{{ path('creation_form_page') }}#transaction-form" class="button-action button-action-add">Add new transaction</a>#}
            <button class="button-action button-action-add button-action-add-transaction">Add new transaction</button>
        </div>
    </div>
<div class="transaction-view">
    <div class="transaction-form-container {{ transactionForm.vars.submitted ? 'transaction-form-container--active' : 'transaction-form-container--hidden' }}">
        <div class="transaction-form">
            {% include('transaction/_form.html.twig') with {'transactionForm' : transactionForm, 'titleForm' : false} %}
        </div>
    </div>

    <div class="filters-container {{ transactionFilterForm.vars.submitted ? 'filters-container--active' : 'filters-container--hidden' }}">
        <div class="filters">
            {% include('transaction/_filter-form.html.twig') with {'transactionFilterForm' : transactionFilterForm} %}
        </div>
    </div>

    {% if seeMoreButtonActive is same as false %}
        <div class="container-transaction-table">
    {% endif %}
        <table class="transaction-table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Date</th>
                <th>Name</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Budget</th>
                <th class="transaction-table-actions">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% if transactions|length > 0 %}
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.date|date('F') }}</td>
                    <td>{{ transaction.date|date("d M Y") }}</td>
                    <td>{{ transaction.name }}</td>
                    <td><p class="transaction-type transaction-type--{{ transaction.type.name|lower }}">{{ transaction.type.name }}</p></td>
                    <td>{{ (transaction.amount ?? 0) ~ '€' }}</td>
                    <td>{{ transaction.budgetCategory.name }}</td>
                    <td class="transaction-table-actions">
                        <a class="transaction-table-actions__link transaction-table-actions__link-edit" href="{{ path('transaction_edit_action', {'id': transaction.id}) }}"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="transaction-table-actions__link transaction-table-actions__link-delete" href="{{ path('transaction_delete_action', {'id': transaction.id}) }}"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="7">{{ 'There are no transactions - Add new one or reset your filters' }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    {% if seeMoreButtonActive is same as false %}
        </div>
    {% endif %}
</div>
